<template>
  <div class="binding-template">

    <div class="form-input">
      <div class="progress">
        <progress max="100" :value='uploader'></progress>
        <input ref="file" type="file">
      </div>
      <input v-model="name" placeholder="type name" type="text">
      <input type="submit" @click="postToDB">

      <div class="container">
        <div class="holder" v-for="(product) in products" :key="product.id" @click="deleteData(product)">
          <h1>{{product.name}}</h1>
          <img :src="product.file" :alt="product.name">
        </div>
      </div>

    </div>

  </div>
</template>

<style>
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .holder {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid palevioletred;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    cursor: pointer;
  }

  .holder:before {
    content: "";
    transition: background .3s linear;
  }

  .holder:hover:before {
    content: "Delete";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .holder img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
</style>



<script>
import { products, storageRef, currentUser } from '@/firebase-config';
export default {
  name: 'about',
  data() {
    return {
      products: [],
      name: '',
      uploader: 0
    }
  },
  created() {
    products.where("uid", "==", currentUser.uid).orderBy("created_date").get().then(products => {
      this.products = products.docs.map(product => {
        return {id: product.id, ...product.data()};
      })
    }); 
  },
  methods: {
    async deleteData(product) {
      // console.log(product)
      let fileRef = storageRef.ref().child(product.fileName);
      await fileRef.delete();
      let post = await products.doc(product.id).delete();
      this.products = this.products.filter(p => p.id !== product.id);
    },
    async postToDB() {
      let myFile = this.$refs.file;

      if (this.name.trim() === '') return;
      if (!myFile.files.length) return;
      let file = myFile.files[0];
      let fileName = Date.now() + '-' + file.name;
      let ref = storageRef.ref(fileName);
      let task = ref.put(file);

      task.on('state_changed', (snapshot) => {
        this.uploader = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
      }, (error) => {
      }, async (complete) => {
         task.snapshot.ref.getDownloadURL().then(async (downloadURL) => {

            let addedPost = await products.add({
              name: this.name,
              file: downloadURL,
              fileName,
              uid: currentUser.uid
            });
            this.uploader = 0;
            this.name = '';
            this.$refs.file.value = '';
            let post = await addedPost.get();
            this.products = [...this.products, {
              id: post.id,
              ...post.data()
            }];

          });
      });
    }
  }
}
</script>

