<template>
  <div class="home">
    <div class="no-login" v-if="!isLogin">
      <p>You Have not Login yet, press the login button</p>
      <button class="btn" @click="loginGoogle" >Login</button>
    </div>
    <div class="logined" v-else>
      <p>You have login! Go to firebase to insert data</p>
      <button class="btn" @click="logoutGoogle" >Logout</button>
      <router-link class="btn" to="/firebase">Firebase</router-link>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import { auth, currentUser, googleProvider, setUser } from '@/firebase-config';


export default {
  name: 'home',
  data() {
    return {
      isLogin: false,
    }
  },
  methods: {
    loginGoogle() {
      auth.signInWithRedirect(googleProvider)
    },
    async logoutGoogle() {
      await auth.signOut();
      this.isLogin = false;
    }
  },
  created() {
    auth.onAuthStateChanged(user => {
      if (user) {
        const {displayName, uid, email} = user;
        setUser({displayName, uid, email});
      } else {
        setUser(null);
      }


      console.log(currentUser);
      
      
      this.isLogin = (user) ? true : false
    })
  }
}
</script>

<style>
  .btn {
    font-size: 18px;
    padding: 5px 15px;
  }
</style>

